<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.onyxds.3wc.callertunes" version="1.2.0">
<!-- This will open in Mobile Browser-->
<!--<access origin="http://myfonetv.com/*" subdomains="true" launch-external="yes"/> -->
<access origin="*" launch-external="yes" />
<author email="info@onyxdatasystems.com" href="http://onyxdatasystems.com"> Onyx DS Team</author>
<icon src="images/logo.png" width="100" height="100" />
<name>3WC Callertunes</name>

    <description>
        The Callertunes App for 3WC 
    </description>
    <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
 </widget>